@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
  --foreground: #171717;
  --primary: #2a4f5c;
  --secondary: #000;
  --accent: #ffcf4b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdfffc;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
